.userDetails {
    position: relative;
    padding: 20px 20px 10px 20px;
    border: 1px #e7e7e7 solid;
    width: 400px;
    margin: 50px;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.name {
    font-weight: bold;
}

.position {
    color: #3b3b3b;
}
.userInformation {
    display: flex;
    flex-direction: column;
}

.userInformation:before {
    content: '';
    position: absolute;
    border-top: 1px #e7e7e7 solid;
    width: 100%;
    left: 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.sendButton {
    background: #3c039f;
    padding: 10px;
    border: none;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.sendButton:hover {
    background: #2c0075;
}

